


#off{
    display: none;
}

.result-container{
     display: flex;
     justify-content: space-between;
     width: 60%;
     min-width: 600px;
     max-width: 1000px;
     margin: auto;
     

}
.player-mask{
    position: absolute;
    top:65px;
    left: 10px;
    width: 90%;
    height: 170px;
    border-radius: 8rem;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.236);
    z-index: 0;
}
.player-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.player-container h2{
    color: white;
    font-size: 1.3rem;
}
#resultChoice{
    opacity: 0;
    z-index: 999;
    position: relative;
    animation: appear 0.5s;
    animation-fill-mode: forwards;
}
.outcome-container{
    display: flex;
    opacity: 0;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    animation: outcomeAppear 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes outcomeAppear {
    from{
        opacity: 0;
        transform: scale(3);
    }
    to{
        
        transform: scale(1);
        opacity: 1;
    }
}

#outcome{
    font-size: 2rem;
    color: white;
}
#play-again{
    background-color: transparent;
    color:  white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
    padding: 13px 2rem;
    transition: background-color 0.15s,color 0.15s;
    cursor: pointer;
}
#play-again:hover{
    color: red;
    background-color: white;
}
@keyframes appear {
    from{
        opacity: 0;
        transform: scale(3);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
